@{
    ViewData["Title"] = "High School Administrator";
}
<div class="container px-4 py-5">
    <div class="card card-cover rounded-4 shadow-lg">
        <h2 class="pb-2 border-bottom mx-4 my-3 text-secondary">High School Administrator Features</h2>
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="d-grid gap-2 px-4">
                <a asp-controller="Campus" asp-action="Index" class="btn btn-outline-warning text-start text-dark">Medical Records</a>
                <a asp-controller="Medicines" asp-action="Index" class="btn btn-outline-warning text-start text-dark">Reports</a>
            </div>
        </div>
    </div>
</div>