<div class="container px-4 py-5">
	<div class="card card-cover rounded-4 shadow-lg">
		<h2 class="pb-2 border-bottom mx-4 my-3 text-secondary">Hệ thống báo cáo</h2>
		<div class="d-flex flex-column bd-highlight mb-3">
			<div class="d-grid gap-2 px-4">
				<a asp-controller="Head" asp-action="Index" class="btn btn-outline-warning text-dark text-start">Quay lại</a>
			</div>
		</div>
	</div>
</div>
