@{
    ViewData["Title"] = "About";
}

<div class="container-xxl py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="mb-4 text-center">Ứng dụng quản lý y tế học đường SHSMS</h3>
                <p class="mx-5">
                    Dịch vụ y tế học đường là "Web application" dùng cho hệ thống giáo dục FPT, cho phép quản lý
                    tủ thuốc tại phòng y tế và quản lý hồ sơ y tế học đường trên hệ thống một cách hiệu quả. Đồng thời
                    quản lý việc cấp phát thuốc sau khi sơ cứu tại phòng y tế.
                </p>
            </div>
        </div>
    </div>
</div>